@model Cities

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Are you Sure To Delete This City?</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Id"></label>
			<input asp-for="Id" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="CityName"></label>
			<input asp-for="CityName" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Cities" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>


<script>
	$(document).ready(function() {
        $(this).scrollTop(0);
        rebindValidators();
    });
    function rebindValidators() {
        var $form = ($"#EditForm");
        $form.unbind();
        $form.data("validator", null);
        $.validator.unobtrusive.parse($form);
        $form.validate($form.data("unobtrusiveValidation").options);
    }
</script>
