@model IEnumerable<Branches>
@{
    ViewData["Title"] = "Branches Page";
}

<main class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">Branches List</h2>
		</div>
    </div>
    <br/>
    <div class="text-center">
        <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Branch Id
			    </th>
                <th>
                    Branch Name
			    </th>
                <th>
                    City Name
			    </th>
		    </tr>
	    </thead>
        <tbody>
            @foreach(var branch in Model)
            {
                <tr>
                    <td width="10%">
                        @branch.Id
				    </td>
                    <td width="45%">
                        @branch.BranchName
				    </td>
                     <td width="45%">
                        @branch.City.CityName
				    </td>
			    </tr>
            }
        </tbody>
    </table>
    </div>
</main>
